<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flanner.flannerapp">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.flanner.flannerapp.EditProfile"></activity>
        <activity android:name="com.flanner.flannerapp.RegisterUser" />
        <activity android:name="com.flanner.flannerapp.ForgotPassword" />
        <activity android:name="com.flanner.flannerapp.MainActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.flanner.flannerapp.HomeScreenActivity" />

        <receiver android:name="com.flanner.flannerapp.AlarmReceiver"
            android:exported="true"
            android:enabled="true">

        </receiver>

    </application>

</manifest>